main {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 2rem 5rem 2rem;
    gap: 80px;
}

/* -------------------- First Section -------------------- */
.highlight {
    display: grid;
    grid-template-areas:
        "A B";
    grid-template-columns: 608px;
    grid-template-rows: 419.5px;
    gap: 1rem;

    /*--------------------- First Image(Robot) --------------------- */
    .-robot1 {
        grid-area: A;
        position: relative;

        img[alt="Robot1"] {
            width: 608px;
            height: 419.5px;
            border-radius: var(--border-r);
        }

        .robot-image {
            position: absolute;
            display: flex;
            flex-direction: column;
            padding: 72px 24px 24px;
            gap: 8px;
            bottom: 0px;

            p:nth-child(2) {
                font-weight: 800;
                font-size: 24px;
                color: var(--text-color-primary);
                line-height: 135%;

            }

            .button-{
                width: 72px;
            }
        }
    }

    /*--------------------- Final(Robot) --------------------- */

    .another-images {
        display: grid;
        grid-template-areas:
         "B C"
         "D E";
        gap: 1rem;

        /*--------------------- Second Image(Cell1) --------------------- */
        .cell1-image {
            grid-area: B;
            position: relative;

            img[alt="Cell1"] {
                width: 288px;
                height: 200px;
                border-radius: var(--border-r);
            }

            .content-cell1 {
                position: absolute;
                bottom: 0;
                display: flex;
                flex-direction: column;
                padding: 36px 12px 12px;
                gap: 8px;

                p:nth-child(2) {
                    width: 264px;
                    height: 60px;
                    font-weight: 800;
                    font-size: 14px;
                    color: var(--text-color-primary);
                    line-height: 140%;
                    overflow-y: hidden;


                }

                .button-{
                    width: 93px;
                }
    
            }
        }

        /*--------------------- Final(Cell1) --------------------- */


        /*--------------------- Third Image(Cell2) ---------------------*/
        .cell2-image {
            grid-area: C;
            position: relative;

            img[alt="Cell2"] {
                width: 288px;
                height: 200px;
                border-radius: var(--border-r);
            }

            .content-cell2 {
                position: absolute;
                bottom: 0;
                display: flex;
                flex-direction: column;
                padding: 36px 12px 12px;
                gap: 8px;

                p:nth-child(2) {
                    width: 264px;
                    height: 60px;
                    font-weight: 800;
                    font-size: 14px;
                    color: var(--text-color-primary);
                    line-height: 140%;
                    overflow-y: hidden;


                }

                .button-{
                    width: 70px;
                }
            }
        }

        /*--------------------- Final(Cell2) ---------------------*/


        /*--------------------- Quarter Image(Health1) ---------------------*/
        .health1-image {
            grid-area: D;
            position: relative;

            img[alt="Health1"] {
                width: 288px;
                height: 200px;
                border-radius: var(--border-r);
            }

            .content-health1 {
                position: absolute;
                bottom: 0;
                display: flex;
                flex-direction: column;
                padding: 36px 12px 12px;
                gap: 8px;

                & p:nth-child(2) {
                    width: 264px;
                    height: 60px;
                    font-weight: 800;
                    font-size: 14px;
                    color: var(--text-color-primary);
                    line-height: 140%;
                    overflow: hidden;
                }

                .button-{
                    width: 71px;
                }
            }
        }

        /*--------------------- Final(Health1) ---------------------*/


        /*--------------------- Fifth Image(VR1) ---------------------*/
        .VR1-image {
            grid-area: E;
            position: relative;

            img[alt="VR1"] {
                width: 288px;
                height: 200px;
                border-radius: var(--border-r);
            }

            .content-VR1 {
                position: absolute;
                bottom: 0;
                display: flex;
                flex-direction: column;
                padding: 36px 12px 12px;
                gap: 8px;   

                p:nth-child(2){
                    width: 264px;
                    height: 60px;
                    font-weight: 800;
                    font-size: 14px;
                    color: var(--text-color-primary);
                    line-height: 140%;
                    overflow-y: hidden;

                }

                .button-{
                    width: 124px;
                }
            }
        }

        /*--------------------- Final(VR1) ---------------------*/
    }

}
/* -------------------- Final(First) -------------------- */

/* -------------------- Second Section -------------------- */
.more-reads{
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    gap: 24px;


    .header-reads{
        border-top: solid  #1E293B 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        p{
            font-weight: 600;
            font-size: 14px;
            color: var(--text-color-secondary);
            display: flex;
            align-items: center;
            gap: 4px;
            padding-top: 12px;

            span{
                font-weight: 600;
                font-size: 14px;
                color: var(--text-color-secondary);
            }
        }
    }   
    
    .high-reads{
        display: grid;
        grid-template-columns: repeat(4, 292px);
        gap:16px;

        img{
            width: 292px;
            height: 160px;
            border-radius: var(--border-r);
        }

        .content-car1{
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .button-{
                margin: 8px 8px;
                position: absolute;
                top: 0;
                width: 70px;
            }

            p:nth-child(3){
                color: var(--text-color-primary);
                font-weight: 800;
                font-size: 16px;
                line-height: 140%;
                width: 292px;
                height: 66px;
                overflow-y: hidden;
            }
    
        }

        .content-folder{
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .button-{
                margin: 8px 8px;
                position: absolute;
                top: 0;
                width: 93px;

            }

            p:nth-child(3){
                color: var(--text-color-primary);
                font-weight: 800;
                font-size: 16px;
                line-height: 140%;
                width: 292px;
                height: 66px;
                overflow-y: hidden;
            }
        }

        .content-VR2{
            position:relative;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .button-{
                margin: 8px 8px;
                position: absolute;
                top: 0;
                width: 124px;
            }

            p:nth-child(3){
                color: var(--text-color-primary);
                font-weight: 800;
                font-size: 16px;
                line-height: 140%;
                width: 292px;
                height: 66px;
                overflow-y: hidden;
            
            }
        }

        .content-orbitate{
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .button-{
                margin: 8px 8px;
                position: absolute;
                top: 0;
                width: 70px;
                
            }

            p:nth-child(3){
                color: var(--text-color-primary);
                font-weight: 800;
                font-size: 16px;
                line-height: 140%;
                width: 292px;
                height: 66px;
                overflow-y: hidden;
            }
        }
    }  
}
/* -------------------- Final(Second) -------------------- */

/* -------------------- Third Section -------------------- */
.high-IA{
    display: grid;
    grid-template-columns: 696px 488px;
    gap: 32px;

    .content-IA{
        border-top: solid #1E293B 1px;
        display: grid;
        grid-template-rows: 32px 800px;
        gap: 24px;
        padding-top: 12px;

        .header-IA{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--text-color-secondary);
            font-size: 14px;
            font-weight: 600;
            line-height: 145%;

            p:nth-child(2){
                display: flex;
                justify-content: center;
                gap: 4px;
            }
        }

        .notices-IA{
            display:grid;
            grid-template-rows: repeat(4, 176px);
            gap: 32px;

            .style-IA{
                display: grid;
                grid-template-areas: 
                "A C"
                "B C"
                "D C";
                column-gap: 16px;


                .button-{
                    grid-area: A;
                    width: 152px;
                }

                p:nth-child(2){
                    grid-area: B;
                    font-weight: 800;
                    font-size: 16px;
                    line-height: 140%;
                    color: var(--text-color-primary);
                    height: 44px;
                    overflow-y: hidden;
                }

                p:nth-child(3){
                    grid-area: D;
                    color: var(--text-color-secondary);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 160%;
                    height: 88px;
                    overflow-y: hidden;
                }

                img{
                    grid-area: C;
                    width: 176px;
                    height: 176px;
                    border-radius: var(--border-r);
                }
            }
        }
    }

    aside{
        display: flex;
        flex-direction: column;
        gap: 32px;

        .ads-aside{
            position: relative;
            width: 488px;
            height: 280px;

            img:nth-child(1){
                width: 100%;   
                border-radius: var(--border-r);
            }
            
            img:nth-child(2){
                position: absolute;
                right: 8px;
                top: 8px;
                cursor: pointer;
            }
        }

        .hh-aside{
            display: grid;
            gap: 24px;

            .header-aside{
                display: flex;
                border-top: solid #1E293B 1px;
                padding-top: 12px;
                justify-content: space-between;
                align-items: center;

                p{
                    font-size: 14px;
                    color: var(--text-color-secondary);
                    font-weight: 600;
                    line-height: 145%;
                }
    
                p:nth-child(2){
                    display: flex;
                    justify-content: center;
                    gap: 4px;
                }
            }
    
            .high-aside{
                display: grid;
                grid-template-rows: repeat(4, 72px);
                gap: 32px;


                .button-aside{
                    display: grid;
                    grid-template-areas: 
                    "A B"
                    "A C";
                    grid-template-columns: 72px 401px;
                    grid-template-rows: 20px 44px;
                    column-gap: 15px;
                    row-gap: 8px;

                    img{
                        grid-area: A;
                        width: 72px;
                        height: 72px;
                        border-radius: var(--border-r);
                    };

                    p:nth-child(2){
                        width: 72px;
                    }

                    p:nth-child(3){
                        height: 40px;
                        font-size: 14px;
                        font-weight: 800;
                        color: var(--text-color-primary);
                        line-height: 140%;
                        overflow-y: hidden;
                    }
                }

                .button-aside:nth-child(2){
                    p:nth-child(2){
                        width: 124px;
                    }
                }

                .button-aside:nth-child(3){
                    p:nth-child(2){
                        width: 102px;
                    }
                }

                .button-aside:nth-child(4){
                    p:nth-child(2){
                        width: 62px;
                    }
                }

                .button-aside:nth-child(5){
                    p:nth-child(2){
                        width: 96px;
                    }
                }
            }
        }

    }
}
/* -------------------- Final(Third) -------------------- */